<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/slicknav.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center"  style="background-color: rgba(0,0,0,0.8);">
                        <div class="col-xl-10 col-lg-10">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul class="mein_menu_list" id="navigation">
                                        <li><a href="/" style="color: white;">Home</a></li>
                                        <li><a href="/about" style="color: white;">About</a></li>
                                        <div class="logo-img d-none d-lg-block">
                                            <a href="/" >
                                                <img src="/static/img/logo.png" alt="">
                                            </a>
                                        </div>
                                        <li><a href="/contact" style="color: white;">contact</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                            <div class="custom_order">
                                <a href="/users/login" class="boxed_btn_white" style="color: white;">Signin</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                        <div class="logo-img-small d-sm-block d-md-block d-lg-none">
                                <a href="/">
                                    <img src="/static/img/logo.png" alt="">
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- breadcam_area_start -->
    <div class="breadcam_area breadcam_bg_1 zigzag_bg_2" style="height: 200px;">
        
    </div>
    <!-- breadcam_area_end -->

    <!-- order_area_start -->
    <div class="order_area">
        <h1 style="font-size: 60px; font-weight:bolder; text-align:center">SignUp</h1>
        <div class="container">
            {% for m in messages %}
            <h4 style="text-align: center;">{{m}}</h4>
            {% endfor %}
            <div class="form">
                <form action="signup" method="POST">
                    {% csrf_token %}
                    First Name:<br> <input class="input-text" type="text" placeholder="First Name" name="fname"/><br>
                    Last Name:<br> <input class="input-text" type="text" placeholder="Last Name" name="lname"/><br>
                    Username:<br> <input class="input-text" type="text" placeholder="Username" name="username"/><br>
                    Email:<br> <input class="input-text" type="email" placeholder="Email" name="email"/><br>
                    Phone Number:<br> <input type="text" placeholder="ph number" name="phno"/><br>
                    Address:<br> <textarea name="address" placeholder="Enter the delivery address"></textarea><br>
                    Password :<br> <input class="input-text" type="password" placeholder="password" name="password"/><br>
                    Re-enter Password :<br> <input class="input-text" type="password" placeholder="confirm password" name="password2"/><br>
                    <br><input class="submit" type="submit" value="SIGNUP"/>
                </form>
            </div>
            
        </div>
    </div>
    <style>
        .form{
            text-align: center;
            position: relative;
        }

        .submit{
            border-radius: 20px;
            border-color: black;
            background-color: rgba(0,0,0,0.8);
            color: white;
        }
    </style>
    <!-- order_area_end -->

    <!-- footer-start -->
    <footer class="footer_area footer-bg zigzag_bg_1" style="height: 10px;">
        
        
        <div class="copyright">
                <p class="footer-text" style="font-size: 2px; color:black"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    
</footer>
<!-- footer-end -->


    <!-- JS here -->
    <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/ajax-form.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/scrollIt.js"></script>
    <script src="/static/js/jquery.scrollUp.min.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script src="/static/js/nice-select.min.js"></script>
    <script src="/static/js/jquery.slicknav.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/plugins.js"></script>

    <!--contact js-->
    <script src="/static/js/contact.js"></script>
    <script src="/static/js/jquery.ajaxchimp.min.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>